.app-root{
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;

}
.app-container{
  width: 100%;
  height: 90%;
  margin:20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding:20px;
}
.app-h1{
  font-size:18px;
}
.app-h3{
  font-size:14px;
}
.input-format-box{
  margin-bottom:2rem;
  border:3px solid rgb(145, 161, 150);
  padding:1rem;
  width: 90%;
}
.step-in{
  padding-left:1rem;
}

p{
  margin:0.5rem;
}



